.mat-table {
  background: #ffffff;
  padding: 10px;
  color: #000000;
}

.table-image {
  width: 100px;
  height: auto;
  max-width: 100%;
}

.mat-form-field {
  width: 100%;
}

.mat-header-cell {
  padding: 5px;
  position: relative;
  color: #000000;
}

.link {
  color: #000000;
  text-decoration: none;
  transition: 0.4s;

  &:hover {
    color: #cccccc;
  }
}

.table-headline {
  text-align: center;
  margin-top: 20px;
  display: none;
}

.mat-cell {
  padding: 5px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  color: #000000;
  text-overflow: ellipsis;
}

.mat-sort-header-container {
  justify-content: center;
  text-align: center;
  width: 100%;
  position: relative;
}

mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
  padding-left: 0;
}

mat-cell:last-of-type, mat-header-cell:last-of-type, mat-footer-cell:last-of-type {
  padding-right: 0;
}

@media screen and (max-width: 960px) {

  .table-headline {
    display: block;
  }

  .mat-header-row {
    display: none;
  }

  .mat-cell {
    white-space: inherit;
    text-overflow: inherit;
    word-break: break-all;
    padding: 10px;
    text-align: center;
  }

  .mat-table {
    border: 0;
    vertical-align: middle;
  }

  .mat-table caption {
    font-size: 1em;
  }

  .mat-table .mat-row {
    border-bottom: 3px solid #cccccc;
    display: block;
  }

  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .mat-table .mat-cell:before {
    content: attr(data-label) ':';
    float: left;
    text-transform: uppercase;
    font-weight: normal;
    padding: 0;
    font-size: .85em;
    margin-bottom: 10px;
  }

  .mat-header-cell {
    font-size: 16px;
    padding: 0 15px;
    position: relative;
  }

  mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
    padding-left: 15px;
  }

  mat-cell:last-of-type, mat-header-cell:last-of-type, mat-footer-cell:last-of-type {
    padding-right: 15px;
  }

  .mat-table .mat-cell:last-child {
    border-bottom: 0;
    padding: 10px;
  }

  .mat-table .mat-cell:first-child {
    margin-top: 10px;
    padding: 10px;
  }
}

@media screen and (max-width: 420px) {

  .form {
    flex-direction: column;
  }

  .filter-btn {
    width: 100%;
    margin: 0;
  }
}
